@font-face {
  font-family: 'Dead';
  src: url('/assets/fonts/dead_font_walking.otf');
}

body {
  overflow: hidden;
}

#help {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  width: 90%;
  height: 80%;
  background-color: red;
  margin: 5%;
  display: none;
}

#help-content {
  margin: 20px;
}

#choose-character {
  z-index: 1000;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 100%;
  height: 100%;
  background: white;
}

#list-character {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 800px;
  height: 550px;

  li {
    background-size: 100%;
    background-repeat: no-repeat;
    width: 256px;
    height: 256px;
    display: inline-block;
    text-align: center;
    float: left;

    &.pablo {
      background-image: url('/assets/imgs/survivors/pablo.png');
    }

    &.yami {
      background-image: url('/assets/imgs/survivors/yami.png');
    }

    &.miguel {
      background-image: url('/assets/imgs/survivors/miguel.png');
    }

    &.laura {
      background-image: url('/assets/imgs/survivors/laura.png');
    }

    &.xenia {
      background-image: url('/assets/imgs/survivors/xenia.png');
    }

    &.alex {
      background-image: url('/assets/imgs/survivors/alex.png');
    }
  }
}

#detail-character {
  width: 400px;
  height: 100%;

  .detail {
    display: none;
    background-position: center 50px;
    background-repeat: no-repeat;
    height: 80%;
    position: relative;

    h2 {
      margin-top: 20px;
      text-align: center;
    }

    p {
      margin-top: 350px;
      margin-left: 50px;
    }

    &.pablo {
      background-image: url('/assets/imgs/survivors/pablo.png');
    }

    &.yami {
      background-image: url('/assets/imgs/survivors/yami.png');
    }

    &.miguel {
      background-image: url('/assets/imgs/survivors/miguel.png');
    }

    &.laura {
      background-image: url('/assets/imgs/survivors/laura.png');
    }

    &.xenia {
      background-image: url('/assets/imgs/survivors/xenia.png');
    }

    &.alex {
      background-image: url('/assets/imgs/survivors/alex.png');
    }
  }

  .want {
    width: 200px;
    margin-left: 50px;
    background: grey;
    text-align: center;
    display: none;

    &.leader {
      margin-bottom: 30px;
    }

    &.follower {
      margin-bottom: 20px;
    }

    &.ready {
      margin-bottom: 10px;
    }
  }
}

.interface {
  display: none;
}

#top-left-interface {
  width: 380px;
  height: 50px;
  background-color: cyan;
  position: fixed;
  top: 0;
  left: 0;
}

#top-right-interface {
  width: 192px;
  height: 77px;
  position: fixed;
  top: 0;
  right: 0;

  &.clock {
    font-family: 'Dead';
    font-size: 60px;
    color: #FFF;
    background-image: url('/assets/imgs/counter.png');
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    margin-right: 10px;
  }
}

#bottom-interface-wrapper {
  bottom: 120px;
  left: 0;
  height: 0px;
  width: 100%;
  position: fixed;
  overflow: visible;
}

#bottom-interface {
  background-color: red;
  margin: 0 auto;
  width: 960px;
  height: 120px;
  z-index: 500;
}

.menu-element {
  height: 114px;
  width: 114px;
  margin-top: 3px;
  margin-bottom: 3px;
  margin-left: 3px;
  margin-right: 3px;
  background-color: green;
  position: initial;
  float: left;
}

//LIGTHBOXES
.lightbox {
  z-index: 1000;
  position: fixed;
  top: 255px;
  left: 510px;
  width: 1000px;
  height: 576px;
  display: none;
  background-image: url('/assets/imgs/lightbox.png');

  #close-lb {
    width: 160px;
    height: 121px;
    display: none;
    float: right;
    background-image: url('/assets/imgs/close-lb.png');
  }

  #animation-attack {
    display: none;
  }

  #find-item {
    display: none;
  }

  #zombie-time {
    display: none;
  }

  #zombie-attack {
    display: none;
  }

  #end-game {
    display: none;
  }
}

