doctype html
html
  head
    title Zombie Time!
    link(rel="stylesheet", type="text/css", href="/assets/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/assets/css/styles.css")

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bluebird/js/browser/bluebird.min.js")
    script(src="/vendor/mousetrap/mousetrap.min.js")
    script(src="/vendor/ramda/dist/ramda.min.js")
    script(src="/vendor/moment/min/moment.min.js")
    script(src="/vendor/stomp-websocket/lib/stomp.min.js")
    script(src="/vendor/sockjs-client/dist/sockjs.min.js")

  body
    #help
      #help-content
        ul
          li i => Zoom In
          li o => Zoom Out
          li r => Reset Zoom and Position
          li h => Show this help dialog

    #choose-character
      #detail-character
        .detail.pablo#pablo
          h2 Pablo
          p Pablo es un badass.
        .detail.yami#yami
          h2 yami
          p  yami mola
        .detail.miguel#miguel
          h2 miguel
          p  miguel mola
        .detail.laura#laura
          h2 laura
          p  laura mola
        .detail.xenia#xenia
          h2 xenia
          p  xenia mola
        .detail.alex#alex
          h2 alex
          p  alex mola
        .want.leader ¡Me lo pido de líder!
        .want.follower ¡Me lo pido de seguidor!
        .want.ready ¡Estoy lista!

      #list-character
        ul
          li.miguel
          li.yami
          li.pablo
          li.xenia
          li.laura
          li.alex

    // canvas
    #content

    #top-left-interface.interface Tus objetivos

    #top-right-interface.interface.clock

    .lightbox
      #close-lb
      .inner-lb#animation-attack
        div.header
            div.survivor
            div.vs Vs
            div.zombie
        div.info Kill 6 zombies
      .inner-lb#find-item
      .inner-lb#zombie-time
      .inner-lb#zombie-attack
          div.header
                div.zombie
                div.vs Vs
                div.survivor
            div.info Does 6 damage
      .inner-lb#end-game

    #bottom-interface-wrapper.interface
      #bottom-interface.interface
        #user-profile.menu-element
          p USER
        #inventory.menu-element
          p INVENTORY
        #attack-button.menu-element
          p ATTACK
        #move-button.menu-element
          p MOVE
        #search-button.menu-element
          p SEARCH
        #noise-button.menu-element
          p NOISE
        #partners
        #chat-button.menu-element
          p CHAT
        #end-turn-button.menu-element
          p END TURN

    audio#zt-audio(src="/assets/data/zombies.ogg")

    // Javascript
    script(src="/assets/js/transform.js")
    script(src="/assets/js/http.js")
    script(src="/assets/js/globals.js")
    script(src="/assets/js/stomp-connection.js")
    script(src="/assets/js/utils.js")
    script(src="/assets/js/sprite.js")
    script(src="/assets/js/interface.js")
    script(src="/assets/js/lightbox.js")
    script(src="/assets/js/canvas.js")
    script(src="/assets/js/map.js")
    script(src="/assets/js/game.js")
    script(src="/assets/js/main.js")
