doctype html
html
  head
    title Zombie Time!
    link(rel="stylesheet", type="text/css", href="/assets/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/assets/css/styles.css")

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/mousetrap/mousetrap.min.js")
    script(src="/vendor/ramda/dist/ramda.min.js")
    script(src="/vendor/moment/min/moment.min.js")
    script(src="/vendor/stomp-websocket/lib/stomp.min.js")
    script(src="/vendor/sockjs-client/dist/sockjs.min.js")
  body
    #content

    #help
      #help-content
        ul
          li i => Zoom In
          li o => Zoom Out
          li r => Reset Zoom and Position
          li h => Show this help dialog

    // Javascript
    script(src="/assets/js/transform.js")
    script(src="/assets/js/http.js")
    script(src="/assets/js/globals.js")
    script(src="/assets/js/stomp-connection.js")
    script(src="/assets/js/utils.js")
    script(src="/assets/js/canvas.js")
    script(src="/assets/js/map.js")
    script(src="/assets/js/game.js")
    script(src="/assets/js/main.js")