doctype html
html
  head
    title Zombie Time!
    link(rel="stylesheet", type="text/css", href="/assets/css/reset.css")
    link(rel="stylesheet", type="text/css", href="/assets/css/styles.css")

    script(src="/vendor/jquery/dist/jquery.min.js")
    script(src="/vendor/bluebird/js/browser/bluebird.min.js")
    script(src="/vendor/mousetrap/mousetrap.min.js")
    script(src="/vendor/ramda/dist/ramda.min.js")
    script(src="/vendor/moment/min/moment.min.js")
    script(src="/vendor/stomp-websocket/lib/stomp.min.js")
    script(src="/vendor/sockjs-client/dist/sockjs.min.js")

  body
    #help
      #help-content
        ul
          li i => Zoom In
          li o => Zoom Out
          li r => Reset Zoom and Position
          li h => Show this help dialog

    #choose-character
      #detail-character
        .detail.pablo#pablo
          h2 Pablo
          p  Pablo es un veterano de guerra y un superviviente. Además es un bluesman y puede hacer mucho ruido con la harmónica.
        .detail.yami#yami
          h2 yami
          p  yami se estaba comiendo un limón durante la Primera Invasión zombie y se le quedó cara de mala leche. Muy útil para curtir zombies.
        .detail.miguel#miguel
          h2 miguel
          p  Miguel es un hacker. Se esconde en un zulo desde donde mantiene los sistemas para la Resistencia de los Vivos. Gracias a Internet, puede llegar donde nadie llega...
        .detail.laura#laura
          h2 laura
          p  Laura intentó dialogar con los zombies. Les hizo dibujos chulos pero nada funcionó. Y ahora está enfadada.
        .detail.xenia#xenia
          h2 xenia
          p  Xenia vivía en un pequeño pueblo de leñadores, donde descubrió que se le daba muy bien ¡exterminar zombies!
        .detail.alex#alex
          h2 alex
          p  Alex es un estratega nato. Es experto en electrónica y hace trampas anti-zombies con arduinos.
        .want.leader ¡Me lo pido de líder!
        .want.follower ¡Me lo pido de seguidor!
        .want.ready ¡Estoy lista!

      #list-character
        ul
          li.miguel
            p
          li.yami
            p
          li.pablo
            p
          li.xenia
            p
          li.laura
            p
          li.alex
            p

    // canvas
    #content

    #top-left-interface.interface Tus objetivos

    #top-right-interface.interface.clock

    .lightbox
      #close-lb
      .inner-lb#animation-attack
        div.header
            div.survivor
            div.vs Vs
            div.zombie
        div.info Kill 6 zombies
      .inner-lb#find-item
        div.title You have found...
        div.content
            img.item1
            div.info1
                div.item-title
                div.item-description
                div.item-options
                    img.want(src="/assets/imgs/want.png")
                    //img.searchmore(src="/assets/imgs/searchmore.png")

      .inner-lb#zombie-time
        div.title ZOMBIE TIME!
        div.header
            div.survivors
            div.info
        div.newzombies
            img.zombie(src="/assets/imgs/survivors/zombie.png")
            div.text

      .inner-lb#zombie-attack
          div.header
                div.zombie
                div.vs Vs
                div.survivor
            div.info Does 6 damage
      .inner-lb#end-game
        div.title End game
        div.subtitle.win You win!
        div.missions Private missions:
      .inner-lb#end-turn
        div.title Next turn!
        div.turn
      .inner-lb#goals
        #own-goals
          span (Tu misión):
        br
        #team-goals
          span (Misión de equipo):

    #bottom-interface-wrapper.interface
      #bottom-interface.interface
        #user-profile.menu-element
          img
          div.life
            div.text 3
        #inventory.menu-element
           div.content
             div.item
             div.item
             div.item
             div.item
             div.item
             div.item

        #attack-button.menu-element(title='Attack')
          div.damage
            div.text 3
          div.ammo
        #move-button.menu-element(title='Move')
        #search-button.menu-element(title='Search')
        #noise-button.menu-element(title='Make noise')
        #end-turn-button.menu-element(title='End turn')
            div.actions 3
        #partners
        #chat-button.menu-element(title='Chat')
      #bottom-interface-info
        #inventory-info
            div.name
            div.data
                img.image
                span.characteristics
            div.description
            div.actions
        #log.small
        #chat
            div.chat-messages
            div
              form.chat-form
                input.chat-text



    audio#zt-audio(src="/assets/data/zombies.ogg")
    audio#zt-music(src="/assets/data/music.ogg")

    // Javascript
    script(src="/assets/js/transform.js")
    script(src="/assets/js/http.js")
    script(src="/assets/js/globals.js")
    script(src="/assets/js/stomp-connection.js")
    script(src="/assets/js/utils.js")
    script(src="/assets/js/sprite.js")
    script(src="/assets/js/interface.js")
    script(src="/assets/js/lightbox.js")
    script(src="/assets/js/canvas.js")
    script(src="/assets/js/map.js")
    script(src="/assets/js/game.js")
    script(src="/assets/js/main.js")
